<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if not user.is_superuser %}
        <h2>Reviews of {{ user.username }}</h2>
    {% else %}
        <h2>All Reviews</h2>
    {% endif %}
    {% if latest_review_list %}
    <div>
        {% for review in latest_review_list %}
        <div>
{#            #<h4><a href="{% url 'reviews:review_detail' review.id %}">#}
{#            #{{ review.wine.name }}#}
{#            </a></h4>#}
            <h1>rated {{ review.rating }} of 5 by {{ review.username }}</h1>
            <h2>{{ review.title }}</h2>
            <h3>{{ review.company.name }}</h3>
            <h4>{{ review.company.description }}</h4>
            <p>{{ review.description }}</p>
            {% if user.is_superuser %}
                <h2>Review of user: {{ review.user.username }}</h2>
             <h2>{{ ip }}</h2>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No reviews are available.</p>
    {% endif %}
</body>
</html>